<div class="bg" style="background: linear-gradient(rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0.15)), url({{ asset('build/assets/theme-a/images/header-sm.jpg') }})  no-repeat center center;"></div>
<div class="hero-header parallax-block">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Paysagiste à Paris et en Île-de-France</div>
            <div class="intro-heading">Adrien Rogard</div>
            <a href="#contact" class="btn btn-primary btn-lg">Contacter</a>
        </div>
    </div>
</div>
