<div class="bg" style="background: linear-gradient(rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0.15)), url({{ asset('uploads/' ~ site.headerBgImage) }})  no-repeat center center;"></div>
<div class="hero-header parallax-block">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><h2>{{ element.preTitle }}</h2></div>
            <div class="intro-heading"><h1>{{ element.mainTitle }}</h1><strong>{{ element.subTitle }}</strong></div>
           <!-- <a href="#contact" class="btn btn-primary btn-lg">Contacter</a>-->
        </div>
    </div>
</div>
