
###> symfony/framework-bundle ###
.env
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/public/*
/var/
/vendor/
/node_modules/
/src/Migrations/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

.yarn-error.log