/* COLORS */

$primary-color: #a8852a; //dore-foncé
$primary-color-light: #ddb144; //dore-clair

$secondary-color: #436658; //vert-clair

$black: #000;
$white: #fafafa;

$light-grey: #f0f0f1;
$medium-grey: #cccccc;
$dark-grey: #424242;

$red-error: #f44336;

$footer-color: #111;

/*

$color_1: #7a7c82;
$color_2: #FF5800;
$color_3: #333;
$color_4: #c84600;
$color_5: #fff;
$color_6: #ff5800;
$color_7: #FFF;
$color_8: #eee;
$color_9: #444;
$font_family_1: 'Source Sans Pro', sans-serif;
$font_family_2: 'Oxygen', sans-serif;
$background_color_1: #ff5800;
$background_color_2: #FF5800;
$background_color_3: #c84600;
$background_color_4: #eee;
$background_color_5: initial;
$background_color_6: #333;
$background_color_7: #fff;
$background_color_8: #222;
$background_color_9: #111;
$background_color_10: #000;
$background_color_11: rgba(0, 0, 0, 0.4);
$background_color_12: #c8e9c8;
$background_color_13: rgba(0, 0, 0, 0.8);
$border_color_1: #c84600;
$border_color_2: #FF5800;
$border_color_3: #ff5800;
*/