/** Please add your Custom CSS here **/
.red-text {
  color: $red-error;
}
.green-text {
  color: green;
}
.orange-text {
  color: darkorange;
}
.logo {
  transform: scale(1.25);
  transition: transform ease-in 0.5s;
}
.top-nav-collapse {
  .logo {
    transform: scale(1);
  }
}
.breadcrumb {
  margin-bottom: 0;
}
.hero-header {
  .intro-text {
    .intro-lead-in, .intro-heading{
      margin-top: 40px;
      text-shadow: 5px 0px 10px $black;
    }
  }
}
.lead img {
  padding: 5px;
}
.bg {
 // background: url('/assets/example/bg_blueplane.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 600px; /*same height as jumbotron */
  //top:0;
  left:0;
 // background-position: center;
  background-size: cover !important;
  z-index: -1;
  transition: top ease-in 0.5s;
  top: 100px;
 // transition: height ease-in 1s;
  &.parallax-scrolled {
    //height: 550px;
   // transition: top ease-in 0.5s;
    top: 60px;

  }
}

.flash {
  position: relative;
  top: 30px;
  margin: 30px 50px;
  text-align: center;
  font-size: 4rem;
  &.flash-success {
    color: green;
  }
  &.flash-error {
    color:$red-error;
  }
  &.flash-warning {
    color: darkorange;
  }
}
.parallax-block {
 // height: 100%;
  height: 550px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
  background:none;
  .intro-text {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.file-path-wrapper {
  visibility: hidden;
}

/** ADMIN **/
/* list elements */
.avatar {
  img {
    max-width: 300px;
  }
}
.secondary-content {
  min-width: 120px;
  i {
    position: relative;
    font-size: 18px;
    top: 4px;
  }
}

.categories {
  padding: 6px 10px;
  border: 1px solid $primary-color;
  margin-right: 10px;
  text-transform: uppercase;
}
/** FORMS **/

#creation_category {
  label {
    padding: 10px;
  }
  input[type=checkbox] {
    visibility: hidden;
  }
  input[type=checkbox] + label {
    cursor: pointer;
    text-transform: uppercase;
    color: $primary-color-light;
  }
  input[type=checkbox]:checked + label{
      border: 1px solid $primary-color-light;
  }
  input[type=checkbox]:not(:checked) + label{
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $medium-grey;
    }
  }
}