<div class="col-md-6 col-md-pull-6 padding-0 " style="background: url('{{ asset('build/assets/theme-a/images/leaf-closeup.jpg')}}') center center; background-size: cover;">
    <!--<address>
        75013 Paris
        <br> +33 6 09 55 68 43
    </address>-->
</div>