<section class="page-section section-grey">
    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title-section"><span class="title-regular">SPECIAL</span><br/>FEATURES</h2>
                <hr class="title-underline " />
                <div class="row">
                    <div class="col-sm-3">
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-code"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4>Clean Code</h4>
                                <p>Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-expand"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4>Bootstrap 3</h4>
                                <p>Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-font"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4>Font Awesome</h4>
                                <p>Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4>Color Options</h4>
                                <p>Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-picture-o"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4>Clean Headers</h4>
                                <p>Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-archive"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4>Portfolio</h4>
                                <p>Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-expand"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4>Lightbox</h4>
                                <p>Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="feature-box">
                            <div class="feature-box-icon">
                                <i class="fa fa-picture-o"></i>
                            </div>
                            <div class="feature-box-info">
                                <h4>Gallery</h4>
                                <p>Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
