<section class="page-section-no-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="container col-md-6">
                <div class="row">
                    <div class="col-md-7 col-md-offset-4 spotlight-container">
                        <h2 class="title-section"><span class="title-regular">FULL LEFT</span><br/>SPOTLIGHT</h2>
                        <hr class="title-underline" />
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        </p>
                        <a href="#" class="btn btn-primary">More Information</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 spotlight-img-cont" style="background-image: url(http://placehold.it/651x431); "> </div>
        </div>
    </div>
</section>
