<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title-section"><span class="title-regular">OUR</span><br/>TEAM</h2>
                <hr class="title-underline" />
            </div>
            <div class="col-md-12">
                <img class="img-responsive" src="http://placehold.it/1148x550" alt="" />
            </div>
        </div>
        <div class="text-center margin-top-30">
            <button type="button" class="btn btn-primary">MORE ABOUT US <i class="fa fa-arrow-right"></i></button>
        </div>
    </div>
</section>


