<div id="fancybox-lightbox">
    <div class="margin-bottom-30">
    <h3>Image Gallery Items</h3>
    <div class="row">
        <div class="col-md-4">
            <a class="fancybox fancybox.image" rel="gallery1" href="http://placehold.it/1900x800" title="Title Slide 1">
                <img src="http://placehold.it/1900x800" alt="" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-4">
            <a class="fancybox fancybox.image" rel="gallery1" href="http://placehold.it/1900x800" title="Title Slide 2" class="img-responsive">
                <img src="http://placehold.it/1900x800" alt="" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-4">
            <a class="fancybox fancybox.image" rel="gallery1" href="http://placehold.it/1900x800" title="Title Slide 3" class="img-responsive">
                <img src="http://placehold.it/1900x800" alt="" class="img-responsive" />
            </a>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: 'elastic',
                closeEffect: 'elastic'
            });
        });
    </script>
    </div>
</div>