<section class="page-section" id="intro">
    <div class="container intro">
       <!-- <div class="row margin-bottom-50">
            <div class="col-md-12 text-center">
                <h1 class="title-section"><span class="title-regular">Welcome to </span><br/><strong>your</strong> website</h1>
                <hr class="title-underline-center">
                <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    <br/>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
            </div>
        </div> -->
        {% include 'theme-a/blocks/numbers-cols.html.twig' %}
    </div>
</section>