<div class="row text-center">
    <div>
        <div class="col-md-3 col-sm-6">
            <div>
                <i class="fa fa-desktop"></i>
                <label><strong>14</strong>
                    <br/>Complete Projects</label>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div>
                <i class="fa fa-user"></i>
                <label><strong>2543</strong>
                    <br/>Happy Clients</label>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div>
                <i class="fa fa-code"></i>
                <label><strong>14489</strong>
                    <br/>Line Of Coding</label>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div>
                <i class="fa fa-trophy"></i>
                <label><strong>21</strong>
                    <br/>Awards</label>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
            </div>
        </div>
    </div>
</div>