<div class="row text-center">
    <div>
        <div class="col-md-4 col-sm-6">
            <div>

                <!--<i class="fa fa-desktop"></i>-->
                <i class="fa">{% include 'theme-a/svg/shovel.svg' %}</i>
                <label><strong>54</strong>
                    <br/>Chantiers réalisés</label>
                <p>Création et aménagements d'espaces verts, jardins, terrasses,...</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div>
                <i class="fa">{% include 'theme-a/svg/growing-tree.svg' %}</i>
                <label><strong>2543</strong>
                    <br/>Arbres plantés</label>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div>
                <i class="fa">{% include 'theme-a/svg/quality.svg' %}</i>
                <label><strong>11</strong>
                    <br/>Années d'expérience</label>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
            </div>
        </div>
      <!--
        <div class="col-md-3 col-sm-6">
            <div>
                <i class="fa fa-trophy"></i>
                <label><strong>21</strong>
                    <br/>Awards</label>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
            </div>
        </div>
        -->
    </div>
</div>