<section class="page-section-no-padding ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="title-section"><span class="title-regular">OUR</span><br/>TEAM</h2>
                <hr class="title-underline col-centered" />
            </div>
        </div>
        <div class="row ">
            <div class="col-md-3 padding-0">
                <div class="hovereffect">
                    <img class=" img-responsive" src="http://placehold.it/480x550" alt="" />
                    <div class="overlay text-center team-content">
                        <h3 class="info">JOE DOE</h3>
                        <p class="info">CEO FOUNDER</p>
                        <p class="info">Lorem ipsum dolor sit amet, consectetur adivpiscing elit. Proin consequat sollicitudin cursus.</p>
                        <a href="#" class="info" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="info" title="Google-plus" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="info" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 padding-0">
                <div class="hovereffect">
                    <img class=" img-responsive" src="http://placehold.it/480x550" alt="" />
                    <div class="overlay text-center team-content">
                        <h3 class="info">JANE DOE</h3>
                        <p class="info">CO FOUNDER</p>
                        <p class="info">Lorem ipsum dolor sit amet, consectetur adivpiscing elit. Proin consequat sollicitudin cursus.</p>
                        <a href="#" class="info" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="info" title="Google-plus" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="info" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 padding-0">
                <div class="hovereffect">
                    <img class=" img-responsive" src="http://placehold.it/480x550" alt="" />
                    <div class="overlay text-center team-content">
                        <h3 class="info">JAMES DOE</h3>
                        <p class="info">DEVELOPER</p>
                        <p class="info">Lorem ipsum dolor sit amet, consectetur adivpiscing elit. Proin consequat sollicitudin cursus.</p>
                        <a href="#" class="info" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="info" title="Google-plus" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="info" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 padding-0">
                <div class="hovereffect">
                    <img class=" img-responsive" src="http://placehold.it/480x550" alt="" />
                    <div class="overlay text-center team-content">
                        <h3 class="info">JENNY DOE</h3>
                        <p class="info">MARKETING</p>
                        <p class="info">Lorem ipsum dolor sit amet, consectetur adivpiscing elit. Proin consequat sollicitudin cursus.</p>
                        <a href="#" class="info" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="info" title="Google-plus" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="info" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

