<div class="bg" style="background: url({{ asset('build/assets/theme-a/images/header-sm.jpg') }})  no-repeat center center;"></div>
<div class="hero-header parallax-block">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Your Website !</div>
            <div class="intro-heading">A beautiful and clean HTML template</div>
            <a href="#sliders" class="btn btn-primary btn-lg">See More</a>
        </div>
    </div>
</div>
