<!-- filters -->
<section class="filter-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h1>1 Column Portfolio</h1>
                <div class="filter-container isotopeFilters4">
                    <ul class="list-inline filter">
                        <li class="active"><a href="#" data-filter="*">All </a><span>/</span></li>
                        <li><a href="#" data-filter=".illustrations">Illustrations</a><span>/</span></li>
                        <li><a href="#" data-filter=".photography">Photography</a><span>/</span></li>
                        <li><a href="#" data-filter=".websites">Websites</a><span>/</span></li>
                        <li><a href="#" data-filter=".art">Art</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 1 Column Portfolio -->
<section class="portfolio-section port-col">
    <div class="container">
        <div class="row">
            <div class="isotopeContainer4">
                <div class="col-sm-12 isotopeSelector art">
                    <article class="">
                        <figure>
                            <img src="http://placehold.it/625x450" alt="">
                            <div class="overlay-background">
                                <div class="inner"></div>
                            </div>
                            <div class="overlay">
                                <div class="inner-overlay">
                                    <div class="row margin-0 project-content">
                                        <div class="col-md-12 info-head">
                                            <h3>Project Title</h3>
                                            <h4>Category</h4>
                                        </div>
                                        <div class="col-md-12 info">
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...</p>
                                            <p><a title="Project Image" class="fancybox-pop fancybox.image" href="http://placehold.it/625x450"><i class="fa fa-search fa-border fa-2x"></i></a>
                                                <a title="Project Link" href="portfolio-item.html"><i class="fa fa-link fa-border fa-2x"></i></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-12 isotopeSelector illustrations">
                    <article class="">
                        <figure>
                            <img src="http://placehold.it/625x450" alt="">
                            <div class="overlay-background">
                                <div class="inner"></div>
                            </div>
                            <div class="overlay">
                                <div class="inner-overlay">
                                    <div class="row margin-0 project-content">
                                        <div class="col-md-12 info-head">
                                            <h3>Project Title</h3>
                                            <h4>Category</h4>
                                        </div>
                                        <div class="col-md-12 info">
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...</p>
                                            <p><a title="Project Image" class="fancybox-pop fancybox.image" href="http://placehold.it/625x450"><i class="fa fa-search fa-border fa-2x"></i></a>
                                                <a title="Project Link" href="portfolio-item.html"><i class="fa fa-link fa-border fa-2x"></i></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-12 isotopeSelector websites">
                    <article class="">
                        <figure>
                            <img src="http://placehold.it/625x450" alt="">
                            <div class="overlay-background">
                                <div class="inner"></div>
                            </div>
                            <div class="overlay">
                                <div class="inner-overlay">
                                    <div class="row margin-0 project-content">
                                        <div class="col-md-12 info-head">
                                            <h3>Project Title</h3>
                                            <h4>Category</h4>
                                        </div>
                                        <div class="col-md-12 info">
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...</p>
                                            <p><a title="Project Image" class="fancybox-pop fancybox.image" href="http://placehold.it/625x450"><i class="fa fa-search fa-border fa-2x"></i></a>
                                                <a title="Project Link" href="portfolio-item.html"><i class="fa fa-link fa-border fa-2x"></i></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-12 isotopeSelector photography">
                    <article class="">
                        <figure>
                            <img src="http://placehold.it/625x450" alt="">
                            <div class="overlay-background">
                                <div class="inner"></div>
                            </div>
                            <div class="overlay">
                                <div class="inner-overlay">
                                    <div class="row margin-0 project-content">
                                        <div class="col-md-12 info-head">
                                            <h3>Project Title</h3>
                                            <h4>Category</h4>
                                        </div>
                                        <div class="col-md-12 info">
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore...</p>
                                            <p><a title="Project Image" class="fancybox-pop fancybox.image" href="http://placehold.it/625x450"><i class="fa fa-search fa-border fa-2x"></i></a>
                                                <a title="Project Link" href="portfolio-item.html"><i class="fa fa-link fa-border fa-2x"></i></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

