<div class="page-section-no-padding  video-container" style="background-image: url(http://placehold.it/1920x1080); background-size: cover;">
    <div class="video-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 ">
                    SEE HOW
                    <a class="fancybox-media vide-icon" href="http://www.youtube.com/watch?v=opj24KnzrWo"><i class=" fa fa-play-circle-o"></i></a> WE WORK
                </div>
            </div>
        </div>
    </div>
</div>