/* COLORS */

$primary-color: #a8852a; //dore-foncé
$primary-color-light: #ddb144; //dore-clair

$secondary-color: #436658; //vert-clair

$black: #000;
$white: #fafafa;

$light-grey: #f0f0f1;
$medium-grey: #cccccc;
$dark-grey: #424242;

$red-error: #f44336;

$font-bnp: 'OpenSans';
$font-reg: 'OpenSans';




/*
$header-height: 71px;
$footer-height:40px;
$header-footer-height: $header-height + $footer-height;
*/