<div class="sec-alternative" style="background-image: url(/assets/theme-base/images/odd_background.png)">
    <div class="container cta">
        <div class="row">
            <div class="col-md-8 hidden-xs">
                <p>
                    Une question ?<br>
                     <a href="#contact">Contactez-nous !</a>
                </p>
            </div>
            <div class="col-md-4">
                <div class="cta-button">
                    <a href="#contact" class="btn btn-primary">Contacter</a> <!--<span><a href="{{ path('about') }}">en savoir +</a></span>-->
                </div>
            </div>
        </div>
    </div>
</div>