<div class="page-section-no-padding testmonial-container" style="background-image: url(http://placehold.it/1920x1080); background-size: cover;">
    <div class="testmonial-content ">
        <div class="container">
            <div class="text-center">
                <p class="margin-0"> "{{ site.quoteText }}"
                    <br/> - {{ site.quoteAuthor }} -
                    <br/>{{ site.quoteAuthorStatus }}
                </p>
            </div>
        </div>
    </div>
</div>