{% extends 'theme-a/base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
    <!-- Carousel -->
    <!--<div class="block-carousel">
       {#  {% include 'theme-a/blocks/carousel.html.twig' %} #}
    </div> -->
    {% include 'theme-a/layout/header/picture-full-title-inside.html.twig' %}
    <!-- Call to Action -->
    {% include 'theme-a/blocks/call-to-action-band.html.twig' %}



    <!-- Intro -->
    {% set vars = {'color': 'negative'} %}
{% include 'theme-a/blocks/intro.html.twig'%}

    <!-- Call to Action Primary -->
    <section class="cta cta-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Réalisez <span>votre projet !</span></h2>
                    <p>Que vous souhaitiez végétaliser votre terrasse, installer un arrosage automatique ou un renseignement, <strong><a href="{{ path('contact') }}" class="text-white">parlons-en !</a></strong> Nous répondons à vos questions et <strong><a href="{{ path('contact') }}"class="text-white" >demandes de devis</a></strong>.</p>
                </div>
                <div class="col-md-2 col-md-push-4 cta-button">
                    <a href="#demos" class="btn btn-primary" style="padding: 25px 15px; font-weight:bold; font-size:larger">Contactez-nous</a>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
{% include 'theme-a/blocks/about.html.twig' %}

    <!-- ALTERNATIVE SECTION -->
    <!-- insert "sec-alternative" class into section tag -->

    <section class="page-section sec-alternative" style="background-image: url(/assets/theme-base/images/odd_background.png)">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <h2 class="title-section"><span class="title-regular">OUR</span><br/>SERVICES</h2>
                    <hr class="title-underline" />
                </div>
                <div class="col-md-4 ">
                    <div class="col-xs-2 box-icon">
                        <div class="fa fa-desktop"></div>
                    </div>
                    <div class="col-xs-10">
                        <h4>WEBDESGIN</h4>
                        <h5>Lorem Ipsum Dolor</h5>
                    </div>
                    <div class="col-md-12">
                        <p>
                            Maecenas luctus nisi in sem fermentum blat. In nec elit solliudin, elementum, dictum pur quam volutpat suscipit antena.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="col-xs-2 box-icon">
                        <div class="fa fa-clipboard"></div>
                    </div>
                    <div class="col-xs-10">
                        <h4>TEMPLATES</h4>
                        <h5>Lorem Ipsum Dolor</h5>
                    </div>
                    <div class="col-md-12">
                        <p>
                            Maecenas luctus nisi in sem fermentum blat. In nec elit solliudin, elementum, dictum pur quam volutpat suscipit antena.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="col-xs-2 box-icon">
                        <div class="fa fa-camera"></div>
                    </div>
                    <div class="col-xs-10">
                        <h4>PHOTOGRAPHY</h4>
                        <h5>Lorem Ipsum Dolor</h5>
                    </div>
                    <div class="col-md-12">
                        <p>
                            Maecenas luctus nisi in sem fermentum blat. In nec elit solliudin, elementum, dictum pur quam volutpat suscipit antena.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="col-xs-2 box-icon">
                        <div class="fa fa-pencil"></div>
                    </div>
                    <div class="col-xs-10">
                        <h4>GRAPHICS</h4>
                        <h5>Lorem Ipsum Dolor</h5>
                    </div>
                    <div class="col-xs-12">
                        <p>
                            Maecenas luctus nisi in sem fermentum blat. In nec elit solliudin, elementum, dictum pur quam volutpat suscipit antena.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="col-xs-2 box-icon">
                        <div class="fa fa-bullseye"></div>
                    </div>
                    <div class="col-xs-10">
                        <h4>BRANDING</h4>
                        <h5>Lorem Ipsum Dolor</h5>
                    </div>
                    <div class="col-md-12">
                        <p>
                            Maecenas luctus nisi in sem fermentum blat. In nec elit solliudin, elementum, dictum pur quam volutpat suscipit antena.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Features -->
{# {% include 'theme-a/blocks/features.html.twig' %} #}

<!-- Full Spotlight left-->
{% include 'theme-a/blocks/full-spotlight-left.html.twig' %}

<!-- Full Spotlight right-->
{% include 'theme-a/blocks/full-spotlight-right.html.twig' %}

<!-- Our Services -->
{# {% include 'theme-a/blocks/services.html.twig' %} #}

<!-- Portfolio / Projects -->
{# {% include 'theme-a/blocks/portfolio-3cols.html.twig' with vars %} #}

<!-- Nous aimons -->
{# {% include 'theme-a/blocks/images-3cols.html.twig' %} #}

<!-- Our Team-->
{# {% include 'theme-a/blocks/image-big-cta.html.twig' %} #}



<!-- Left Spotlight-->
{% include 'theme-a/blocks/left-spotlight.html.twig' %}

<!-- RIGHT SPOTLIGHT-->
{% include 'theme-a/blocks/right-spotlight.html.twig' %}

<!-- VIDEO -->
{% include 'theme-a/blocks/video.html.twig' %}



    <!-- Our Skills -->
{# {% include 'theme-a/blocks/progress-bars.html.twig' %} #}

    <!-- Our Team Creative -->
{# {% include 'theme-a/blocks/pictures-socials-hover.html.twig' %} #}

    <!-- BLOG/LATEST NEWS-->
    {% include 'theme-a/blocks/articles-list.html.twig' %}

    <!-- Highlighted Testmonial -->
    {% include 'theme-a/blocks/testimonial.html.twig' %}

    <!-- Contact Us -->
    {% include 'theme-a/blocks/contact.html.twig' %}

{% endblock %}