{% extends 'theme-a/base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h1>Register</h1>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}
        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
